@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
  }
  
  html {
    overflow-x: hidden;
  }
}

@layer utilities {
  .container {
    max-width: 1200px;
  }
}